.mensaje_error{
    width: 100%;
    text-align: center;
    background-color: #7DD788;
    box-shadow: 0px 0px 10px white;
}

html{
    font-family: Verdana;
    background-color: #C0F8C6;
}

a{
    text-decoration: none;
     color: white;
    font-weight: bold;
}

a:link{
    text-decoration: none;
    color: white;
}
